<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ListaLocation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
<h2>Lista Locations</h2>
<a class="btn btn-info" th:href="@{'/agregarLocation'}" >Agregar Departamento</a>
<h4>Ese soy Yo</h4>
<div th:if="${mensaje != null}" th:text="${mensaje}" class="alert alert-success" role="alert"></div>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Location Id</th>
        <th scope="col">Street Address</th>
        <th scope="col">Postal Code</th>
        <th scope="col">City</th>
        <th scope="col">State Province</th>
        <th scope="col">Country Id</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c,i:${lista}">
        <th th:text="${i.index+1}" scope="col"></th>
        <th scope="col" th:text="${c.location_id}"></th>
        <th scope="col" th:text="${c.street_address}"></th>
        <th scope="col" th:text="${c.postal_code}"></th>
        <th scope="col" th:text="${c.city}"></th>
        <th scope="col" th:text="${c.state_province}"></th>
        <th scope="col" th:text="${c.country_id}"></th>
        <th><a class="btn btn-primary" th:href="@{'/editarLocation'+'?id='+${c.location_id}}">Editar Location</a></th>
        <th><a class="btn btn-danger" th:href="@{'/borrarLocation'+'?id='+${c.location_id}}" >Borrar Location</a></th>

    </tr>
    </tbody>
</table>
</body>
</html>